<div id="content">
	<p>
		Places like Stanford and MIT have made class materials available online for many years now, but the recent success of <%= link_to 'Khan Academy', 'http://www.khanacademy.org/', :target => '_blank' %> and Stanford's "take a Stanford class, just like Stanford students" initiative (<i>e.g.</i>, <%= link_to 'their machine learning class', 'http://www.ml-class.org/', :target => '_blank' %>) has emboldened interest in distanced learning.
	</p>
	<p>
		I could not find a consistently-maintained list of such resources, so I made one. <b>It is definitely biased towards CS</b>. If you know of something that is not here <b>please</b> drop me an email at <%= mail_to("clemmer.alexander@gmail.com") %>, and I'll update the list accordingly.
	</p>
</div>


<br/>
<p>
	<a href="#university"><h1>University Programs</h1></a>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.
	<table id="uniTable">
		
		
		<tr id="http://www.youtube.com/user/UCBerkeley">
			<td>University of California, Berkeley</td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/user/UCBerkeley', :target => '_blank' %>]</td></tr>
		
		
		<tr id="http://oli.web.cmu.edu/openlearning/">
			<td><b>Carnegie Mellon University (CMU)</b></td>
			<td>OpenLearning<i>Initiative</i></td>
			<td>[<%= link_to 'hard link', 'http://oli.web.cmu.edu/openlearning/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://news.uchicago.edu/multimedia">
			<td>University of Chicago</td>
			<td>mindonline</td>
			<td>[<%= link_to 'hard link', 'http://news.uchicago.edu/multimedia', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://computerscience1.tv/2010/spring/">
			<td>Harvard University</td>
			<td>Harvard Extension School</td>
			<td>[<%= link_to 'hard link', 'http://computerscience1.tv/2010/spring/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.jhsph.edu/">
			<td><b>Johns Hopkins University (JHU)</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.jhsph.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.mit.edu/courses/">
			<td><b>Massachusetts Institute of Technology (MIT)</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.mit.edu/courses/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/user/UNSWelearning">
			<td>University of New South Wales</td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/user/UNSWelearning', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.uopeople.org/">
			<td><b>University of the People</b></td>
			<td>Full Tuition-free Education</td>
			<td>[<%= link_to 'hard link', 'http://www.uopeople.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://cnx.org/">
			<td><b>Rice University</b></td> <td>Connexions</td>
			<td>[<%= link_to 'hard link', 'http://cnx.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://see.stanford.edu/see/courses.aspx">
			<td><b>Stanford University</b></td>
			<td>Stanford Engineering Everywhere</td>
			<td>[<%= link_to 'hard link', 'http://see.stanford.edu/see/courses.aspx', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://openclassroom.stanford.edu/MainFolder/HomePage.php">
			<td><!-- This is also Stanford University --></td>
			<td>OpenClassroom</td>
			<td>[<%= link_to 'hard link', 'http://openclassroom.stanford.edu/MainFolder/HomePage.php', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://itunes.stanford.edu/">
			<td><!-- This is also Stanford University --></td>
			<td>iTunes University</td>
			<td>[<%= link_to 'hard link', 'http://itunes.stanford.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/stanford">
			<td><!-- This is also Stanford University --></td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/stanford', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://sydney.edu.au/podcasts/2006/index.shtml">
			<td>University of Sydney</td>
			<td>Podcast lectures</td>
			<td>[<%= link_to 'hard link', 'http://sydney.edu.au/podcasts/2006/index.shtml', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.tufts.edu/">
			<td>Tufts University</td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.tufts.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.usu.edu/">
			<td><b>Utah State University</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.usu.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.virginia.edu/uvapodcast/">
			<td>University of Virginia</td>
			<td>Podcast lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.virginia.edu/uvapodcast/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://oyc.yale.edu/">
			<td><b>Yale University</b></td>
			<td>Open Yale courses</td>
			<td>[<%= link_to 'hard link', 'http://oyc.yale.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/yalecourses">
			<td><!-- This is also Yale --></td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/yalecourses', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>







<br/>
<p>
	<a href="#original"><h1>Original Material</h1></a>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="oriTable">
		<tr id="http://www.freelance-teacher.com/videos.htm">
			<td>Freelance Teacher</td>
			<td>Original YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.freelance-teacher.com/videos.htm', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.khanacademy.org/">
			<td><b>Khan Academy</b></td>
			<td>Original YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
	</table>
</p>









<br/>
<p>
	<a href="#agg"><h1>Material Aggregation Sites</h1></a>
	Alphabetical. This category is <b>really strong</b>, often because entrants aggregate content from elsewhere, though this is not always the case. Approximately popular courses of study are <b>bolded</b>.

	<table id="aggTable">
		
		
		<tr id="http://www.bestcollegesonline.com/blog/2010/05/12/100-intro-open-courses-on-everything-youve-ever-wanted-to-learn/">
			<td><b>100 Best Intro Courses</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.bestcollegesonline.com/blog/2010/05/12/100-intro-open-courses-on-everything-youve-ever-wanted-to-learn/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://academicearth.org/">
			<td><b>Academic Earth</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.cosmolearning.com/">
			<td><b>Academic Earth</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.cosmolearning.com/">
			<td><b>CosmoLearning</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.cosmolearning.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://freevideolectures.com/">
			<td><b>FreeVideoLectures</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://freevideolectures.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.incredicampus.com/">
			<td>IncrediCampus</td>
			<td>Aggregated course material</td>
			<td>[<%= link_to 'hard link', 'http://www.incredicampus.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.learnerstv.com/">
			<td><b>LearnersTV</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.learnerstv.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://lecturefox.com/">
			<td>LectureFox</td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://lecturefox.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.openculture.com/">
			<td><b>OpenCulture</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.openculture.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.ted.com/">
			<td>TED</td>
			<td>Lectures from an idea conference</td>
			<td>[<%= link_to 'hard link', 'http://www.ted.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://en.wikiversity.org/wiki/Wikiversity:Main_Page">
			<td>Wikiversity</td>
			<td>Educational wikis</td>
			<td>[<%= link_to 'hard link', 'http://en.wikiversity.org/wiki/Wikiversity:Main_Page', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/education?b=400">
			<td><b>YouTube edu</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/education?b=400', :target => '_blank' %>]</td>
		</tr>
		
		
	</table>
</p>






<br/>
<p>
	<a href="#peer"><h1>Peer-Based Environments</h1></a>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="oriTable">
		<tr id="http://openstudy.com/">
			<td><b>OpenStudy</b></td>
			<td>Peer-centric Study Groups</td>
			<td>[<%= link_to 'hard link', 'http://openstudy.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://p2pu.org/">
			<td><b>Peer-to-Peer University (P2PU)</b></td>
			<td>Peer-centric school</td>
			<td>[<%= link_to 'hard link', 'http://p2pu.org/', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>








<br/>
<p>
	<a href="#research"><h1>University-level Research</h1></a>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="resTable">
		<tr id="http://www.doaj.org/">
			<td><b>Directory of Open Access Journals</b></td>
			<td>University research directory</td>
			<td>[<%= link_to 'hard link', 'http://www.doaj.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://videolectures.net/">
			<td><b>Videolectures.net</b></td>
			<td>University-level research lectures</td>
			<td>[<%= link_to 'hard link', 'http://videolectures.net/', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>















<div id="byline"><%= link_to 'About', about_url %>. <%= link_to 'Research', research_url %>. <%= link_to 'Writings', root_url %>.</div>

<div id="subbyline"><%= link_to 'Code', 'https://github.com/DrSleep', :target => '_blank' %>. <%= link_to 'Quora', "http://www.quora.com/Alex-Clemmer", :target => '_blank' %>. <%= link_to 'Google+', 'http://gplus.to/apc', :target => '_blank' %>.</div>