<% content_for :title, "Stanford, MIT, Khan Academy: A semi-comprehensive list of online education resources" %>


<h1>Stanford, MIT, Khan Academy:</h1>
<h2>A semi-comprehensive list of online education resources</h2>

<div id="content">
	<p>
		Universities like Stanford and MIT have made class materials available online for many years now, but the recent success of <%= link_to 'Khan Academy', 'http://www.khanacademy.org/', :target => '_blank' %> and Stanford's "take a Stanford class, just like Stanford students" initiative (<i>e.g.</i>, <%= link_to 'their machine learning class', 'http://www.ml-class.org/', :target => '_blank' %>) has emboldened interest in internet-based learning.
	</p>
	<p>
		I could not find a consistently-maintained list of such resources, so I made one. <b>It is definitely biased towards CS</b>. If you know of something that is not here <b>please</b> drop me an email at <%= mail_to("clemmer.alexander@gmail.com") %>, and I'll update the list accordingly.
	</p>
</div>


<br/>
<p>
	<%= content_tag :a, '', :name => 'toc' %>
	<h2><%= link_to 'Table of Contents', {:anchor => 'toc'} %></h2>
	
	This list is broken up into a couple of sections.
	<ul>
		<li><%= link_to 'University Programs', {:anchor => 'university'} %>, which are course materials officially funded and released by universities.</li>
		
		<li><%= link_to 'Original Material', {:anchor => 'original'} %>, video lectures made by people for the Internet (<i>e.g.</i>, Khan Academy).</li>
		
		<li><%= link_to 'Material Aggregation Sites', {:anchor => 'agg'} %>, sites that aggregate materials and lectures from other places on the Internet.</li>
		
		<li><%= link_to 'Peer-based Environments', {:anchor => 'peer'} %>, sites that emphasize either peer teaching or peer studying (or both).</li>
		
		<li><%= link_to 'University-level Research', {:anchor => 'research'} %>, sites that emphasize research material.</li>
		
	</ul>
</p>

<p>
	<%= content_tag :a, '', :name => 'university' %>
	<h2><%= link_to 'University Programs', {:anchor => 'university'} %></h2>
	A number of universities make course material available online. Sometimes this means video lectures, sometimes this means notes and syllabi. Note that OpenCourseWare is a persistent initiative that provides similar materials across the number of universities that participate in it.
</p>
<p>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.
	<table id="uniTable">
		
		
		<tr id="http://www.youtube.com/user/UCBerkeley">
			<td><b>University of California, Berkeley</b></td>
			<td>MSRI colloquiua and workshops</td>
			<td>[<%= link_to 'hard link', 'http://www.msri.org/web/msri/online-videos', :target => '_blank' %>]</td></tr>
		
		
		<tr id="http://www.msri.org/web/msri/online-videos">
			<td></td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/user/UCBerkeley', :target => '_blank' %>]</td></tr>
		
		
		<tr id="http://oli.web.cmu.edu/openlearning/">
			<td><b>Carnegie Mellon University (CMU)</b></td>
			<td>OpenLearning<i>Initiative</i></td>
			<td>[<%= link_to 'hard link', 'http://oli.web.cmu.edu/openlearning/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://news.uchicago.edu/multimedia">
			<td>University of Chicago</td>
			<td>mindonline</td>
			<td>[<%= link_to 'hard link', 'http://news.uchicago.edu/multimedia', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://computerscience1.tv/2010/spring/">
			<td>Harvard University</td>
			<td>Harvard Extension School</td>
			<td>[<%= link_to 'hard link', 'http://computerscience1.tv/2010/spring/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/user/nptelhrd/videos">
			<td><b>India Institute of Technology</b></td>
			<td>NPTEL</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/user/nptelhrd/videos', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.jhsph.edu/">
			<td><b>Johns Hopkins University (JHU)</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.jhsph.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.mit.edu/courses/">
			<td><b>Massachusetts Institute of Technology (MIT)</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.mit.edu/courses/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.ima.umn.edu/videos/">
			<td><b>University of Minnesota</b></td>
			<td>Colloquiua and Workshops</td>
			<td>[<%= link_to 'hard link', 'http://www.ima.umn.edu/videos/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/user/UNSWelearning">
			<td>University of New South Wales</td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/user/UNSWelearning', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.uopeople.org/">
			<td><b>University of the People</b></td>
			<td>Full Tuition-free Education</td>
			<td>[<%= link_to 'hard link', 'http://www.uopeople.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://cnx.org/">
			<td><b>Rice University</b></td> <td>Connexions</td>
			<td>[<%= link_to 'hard link', 'http://cnx.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://see.stanford.edu/see/courses.aspx">
			<td><b>Stanford University</b></td>
			<td>Stanford Engineering Everywhere</td>
			<td>[<%= link_to 'hard link', 'http://see.stanford.edu/see/courses.aspx', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://openclassroom.stanford.edu/MainFolder/HomePage.php">
			<td><!-- This is also Stanford University --></td>
			<td>OpenClassroom</td>
			<td>[<%= link_to 'hard link', 'http://openclassroom.stanford.edu/MainFolder/HomePage.php', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://itunes.stanford.edu/">
			<td><!-- This is also Stanford University --></td>
			<td>iTunes University</td>
			<td>[<%= link_to 'hard link', 'http://itunes.stanford.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/stanford">
			<td><!-- This is also Stanford University --></td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/stanford', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://sydney.edu.au/podcasts/2006/index.shtml">
			<td>University of Sydney</td>
			<td>Podcast lectures</td>
			<td>[<%= link_to 'hard link', 'http://sydney.edu.au/podcasts/2006/index.shtml', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.tufts.edu/">
			<td>Tufts University</td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.tufts.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://ocw.usu.edu/">
			<td><b>Utah State University</b></td>
			<td>OpenCourseWare</td>
			<td>[<%= link_to 'hard link', 'http://ocw.usu.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.virginia.edu/uvapodcast/">
			<td>University of Virginia</td>
			<td>Podcast lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.virginia.edu/uvapodcast/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://oyc.yale.edu/">
			<td><b>Yale University</b></td>
			<td>Open Yale courses</td>
			<td>[<%= link_to 'hard link', 'http://oyc.yale.edu/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/yalecourses">
			<td><!-- This is also Yale --></td>
			<td>YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/yalecourses', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>







<br/>
<p>
	<%= content_tag :a, '', :name => 'original' %>
	<h2><%= link_to 'Original Material', {:anchor => 'original'} %></h2>
	One of the key reasons for this recent rise in interest in internet-based education is <%= link_to 'Khan Academy', 'http://www.khanacademy.org/' %>, whose comprehensive and prolific lectures on everything from Physics to Art History supplement normal classroom education well. At least in the case of KA, the idea is to free up teachers to use class times to do class projects, rather than being forced to teach the basic material on a marginally-effective basis.
</p>
<p>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="oriTable">
		<tr id="http://www.freelance-teacher.com/videos.htm">
			<td>Freelance Teacher</td>
			<td>Original YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.freelance-teacher.com/videos.htm', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.khanacademy.org/">
			<td><b>Khan Academy</b></td>
			<td>Original YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
	</table>
</p>









<br/>
<p>
	<%= content_tag :a, '', :name => 'agg' %>
	<h2><%= link_to 'Material Aggregation Sites', {:anchor => 'agg'} %></h2>
	One major problem with university-administrated educational sites is that they are tied to the institution that they represent. Aggregation sites solve this problem by organizing lots of content in one place. For this reason, the entrants here tend to be <b>fairly high quality on average</b>.
</p>
<p>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="aggTable">
		
		
		<tr id="http://www.bestcollegesonline.com/blog/2010/05/12/100-intro-open-courses-on-everything-youve-ever-wanted-to-learn/">
			<td><b>100 Best Intro Courses</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.bestcollegesonline.com/blog/2010/05/12/100-intro-open-courses-on-everything-youve-ever-wanted-to-learn/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://academicearth.org/">
			<td><b>Academic Earth</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.cosmolearning.com/">
			<td><b>Academic Earth</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.khanacademy.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.cosmolearning.com/">
			<td><b>CosmoLearning</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.cosmolearning.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://freevideolectures.com/">
			<td><b>FreeVideoLectures</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://freevideolectures.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.incredicampus.com/">
			<td>IncrediCampus</td>
			<td>Aggregated course material</td>
			<td>[<%= link_to 'hard link', 'http://www.incredicampus.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.learnerstv.com/">
			<td><b>LearnersTV</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.learnerstv.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://lecturefox.com/">
			<td>LectureFox</td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://lecturefox.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.openculture.com/">
			<td><b>OpenCulture</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.openculture.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.ted.com/">
			<td>TED</td>
			<td>Lectures from an idea conference</td>
			<td>[<%= link_to 'hard link', 'http://www.ted.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://en.wikiversity.org/wiki/Wikiversity:Main_Page">
			<td>Wikiversity</td>
			<td>Educational wikis</td>
			<td>[<%= link_to 'hard link', 'http://en.wikiversity.org/wiki/Wikiversity:Main_Page', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://www.youtube.com/education?b=400">
			<td><b>YouTube edu</b></td>
			<td>Aggregated YouTube lectures</td>
			<td>[<%= link_to 'hard link', 'http://www.youtube.com/education?b=400', :target => '_blank' %>]</td>
		</tr>
		
		
	</table>
</p>






<br/>
<p>
	<%= content_tag :a, '', :name => 'peer' %>
	<h2><%= link_to 'Peer-Based Environments', {:anchor => 'peer'} %></h2>
	Another problem with, for example, OpenCourseWare, is that there is no interaction with other people. Peer-based education sites address this problem.
</p>
<p>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="peerTable">
		<tr id="http://openstudy.com/">
			<td><b>OpenStudy</b></td>
			<td>Peer-centric Study Groups</td>
			<td>[<%= link_to 'hard link', 'http://openstudy.com/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://p2pu.org/">
			<td><b>Peer-to-Peer University (P2PU)</b></td>
			<td>Peer-centric school</td>
			<td>[<%= link_to 'hard link', 'http://p2pu.org/', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>








<br/>
<p>
	<%= content_tag :a, '', :name => 'research' %>
	<h2><%= link_to 'University-level Research', {:anchor => 'research'} %></h2>
	Traditional university research tends to be contained in journals and conferences. With sites like <%= link_to 'videolectures.net', 'http://videolectures.net/' %> this is starting to change, though it should be noted that this tends to happen mainly for expensive conferences (<i>e.g.</i>, machine learning conferences).
</p>
<p>
	Alphabetical. Approximately popular courses of study are <b>bolded</b>.

	<table id="resTable">
		<tr id="http://www.doaj.org/">
			<td><b>Directory of Open Access Journals</b></td>
			<td>University research directory</td>
			<td>[<%= link_to 'hard link', 'http://www.doaj.org/', :target => '_blank' %>]</td>
		</tr>
		
		
		<tr id="http://videolectures.net/">
			<td><b>Videolectures.net</b></td>
			<td>University-level research lectures</td>
			<td>[<%= link_to 'hard link', 'http://videolectures.net/', :target => '_blank' %>]</td>
		</tr>
	</table>
</p>







<%= render '/nav' %>







