	<span id="splash">Big data. Machine Learning. Randomized Algorithms. NLP. Bayesian Nonparametric Analysis.</span>

	<span id="name">Alex Clemmer</span>.

	<div id="byline"><%= link_to 'About', root_url %>. <%= link_to 'Research', root_url %>. <%= link_to 'Writings', root_url %>.</div>

	<div id="subbyline"><%= link_to 'Code', 'https://github.com/DrSleep', :target => '_blank' %>. <%= link_to 'Quora', "http://www.quora.com/Alex-Clemmer", :target => '_blank' %>. <%= link_to 'Google+', 'http://gplus.to/apc', :target => '_blank' %>.</div>