<% content_for :title, "Alex Clemmer" %>

<div id="splash">
	<p>
		<span id="name">Alex Clemmer,</span> &nbsp;&nbsp; <span id="motto">\( \forall x: \text{ML} + x \)</span>
	</p>
	<%= render '/splashnav' %>
	<p>
		I'm a computer science student primarily interested in massive scale <%= link_to 'machine learning', 'http://en.wikipedia.org/wiki/Machine_learning' %>.
	</p>
	<p>
	 	More generally, I am especially interested in probabilistic computation as it intersects with <%= link_to 'natural language processing', 'http://en.wikipedia.org/wiki/Natural_language_processing' %>, <%= link_to 'human-computer interaction', 'http://en.wikipedia.org/wiki/Human–computer_interaction' %>, and massive scale <%= link_to 'algorithms', 'http://en.wikipedia.org/wiki/Algorithm' %>.
	</p>
</div>