<% content_for :title, "About" %>



<div id="mission"></div>

<div id="about">
	<p>
		My name is <span id="about-name">Alex Clemmer</span>. I'm <b>Junior</b> in <b>CS</b> at the <b>University of Utah</b>.
	</p>
	<p>
	As of <b>Fall 2011</b>, I'm a Junior, supported in part by the Kiri Lou Wagstaff AI Scholarship. 
	</p>
	<p>
		I dually hold RAs in the NLP groups at <b>Utah</b> (where my advisor is  <%= link_to 'Ellen Riloff', 'http://www.cs.utah.edu/~riloff/', :target => '_blank' %>) and <b>Johns Hopkins University</b> (where my advisors are <%= link_to 'Ben van Durme', 'http://www.cs.jhu.edu/~vandurme/', :target => '_blank' %> and <%= link_to 'Mark Dredze', 'http://www.cs.jhu.edu/~mdredze/', :target => '_blank' %>).
	</p>
	<p>
	I am also fortunate enough to have a close collaborative relationship with many other very talented people: <%= link_to 'Hanna Wallach', 'http://www.cs.umass.edu/~wallach/' %> (UMass Amherst), <%= link_to 'Jur van den Berg', 'http://www.cs.utah.edu/~berg/' %> (Utah) and some excellent people in Utah's <%= link_to 'Big Data Group', 'http://datagroup.cs.utah.edu/', :target => '_blank' %>, particularly <%= link_to 'John Moeller', 'http://www.cs.utah.edu/~moeller/' %> and Amirali Abdullah.
	</p>
	<p>
	I will graduate sometime in <b>Spring 2013</b>.
	</p>
	
	<br/><hr/><br/>
	
	<b>Contact Information:</b><br/><br/>
	Merrill Engineering Building, Room 3190<br/>
	50 South Central Campus Drive<br/>
	Salt Lake City, UT 84105<br/>
	<br/>
	<b>T:</b>+1 801 554 9747<br/>
	<br/>
	<b>E:</b> clemmer.alexander@gmail.com<br/>
	<br/>
</div>

<div id="copyright">copyright 2011 Alex Clemmer</div>

<%= render '/nav' %>