<% content_for :title, "About" %>



<div id="mission"></div>

<div id="about">
	<p>
		I'm <b>Junior</b> in <b>CS</b> at the <b>University of Utah</b>.
	</p>
	<p>
	I spent <b>Summer '11</b> at the <%= link_to 'Johns Hopkins University', 'http://www.jhu.edu/', :target => '_blank' %> <%= link_to 'HLTCOE', 'http://web.jhu.edu/hltcoe', :target => '_blank' %>, where I worked to leverage compression-based classification schemes (specifically <%= link_to 'PPM', 'http://en.wikipedia.org/wiki/Prediction_by_partial_matching', :target => '_blank' %>) and graph analysis to automate role recognition (<i>e.g.</i>, "who are the evil executives in the Enron emails?", or "find the spammers in the inbox").
	</p>
	<p>
	As of <b>Fall 2011</b>, I'm a Junior, supported in part by the Kiri Lou Wagstaff AI Scholarship. I'm also an RA at <%= link_to 'Ellen Riloff', 'http://www.cs.utah.edu/~riloff/', :target => '_blank' %>'s <%= link_to 'NLP labs', 'http://www.cs.utah.edu/nlp/', :target => '_blank' %>, though I spend a lot of time hanging around the <%= link_to 'Big Data Group', 'http://datagroup.cs.utah.edu/', :target => '_blank' %>.
	</p>
	<p>
	I will graduate sometime in <b>Spring 2013</b>.
	</p>
	
	<br/><hr/><br/>
	
	<b>Contact Information:</b><br/><br/>
	Merrill Engineering Building, Room 3190<br/>
	50 South Central Campus Drive<br/>
	Salt Lake City, UT 84105<br/>
	<br/>
	<b>T:</b>+1 801 554 9747<br/>
	<br/>
	<b>E:</b> clemmer.alexander@gmail.com<br/>
	<br/>
</div>

<div id="copyright">copyright 2011 Alex Clemmer</div>

<%= render '/nav' %>